.whats-baixa {
    border-radius: 50%;
    background-color: $whatsApp;
    padding: $spacing-medium;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 2px 2px 15px $preto;
    color: $branco;
}