.whats {
    all: unset;
    color: #fff;
    background-color: $whatsApp;
    padding: 10px 30px;
    border-radius: $border-radius;
    cursor: pointer;
    transition: 0.6s;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.514);
    &:hover {
        transform: scale(1.05);
    }
}
