.my-slider {
    position: relative;
    z-index: -5;
    img {
        width: 100%;
        height: 100dvh;
    }
}

.main {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .my-slider {
        img {
            width: 100%;
            height: 70dvh;
        }
    }
}
