.diferencial {
    padding: $spacing-xl 0;

    .titulo,
    .subtitulo {
        text-align: center;
    }

    .titulo {
        color: $secundaria;
    }

    .subtitulo {
        color: $principal;
        font-size: $txt-size-large;
        margin-bottom: 2rem;
    }

    .dif-grid {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        .barra {
            height: 220px;
            width: 2px;
            border-right: solid 4px $principal;
        }

        .dif-itens {
            display: grid;
            grid-template-columns: repeat(3, 260px);
            justify-content: space-between;
            text-align: start;
            width: 100%;

            h3 {
                color: $secundaria;
                font-size: $txt-size-large;
            }
        }
    }
    .whats {
        max-width: 250px;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .diferencial {
        .dif-grid {
            .barra {
                height: 320px;
            }

            .dif-itens {
                grid-template-columns: repeat(3, 195px);
            }
        }
    }
}

@media (max-width: 992px) {
    .diferencial {
        .dif-grid {
            .dif-itens {
                grid-template-columns: repeat(1, 310px);
                justify-content: center;
                gap: 2rem;
                text-align: center;
            }
        }
    }

    .whats {
        margin-inline: auto;
    }
}
